recursive-include mailing/dtds magic.*
recursive-include mailing/dtds *.ent
recursive-include mailing/dtds *.dtd
recursive-include mailing/static *
recursive-include mailing/views/default_templates index.*
recursive-include mailing/templates *.html
