<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <title>Dreamteller Mailing</title>
 
    <link rel="stylesheet"
          type="text/css"
          href="${static_url('extjs/resources/css/ext-all.css')}"/>
    <link rel="stylesheet"
          type="text/css"
          href="${static_url('pagedown/style.css')}"/>
    <link rel="stylesheet"
          type="text/css"
          href="${static_url('codemirror/lib/codemirror.css')}"/>
    <script type="text/javascript"
            src="${static_url('extjs/ext-debug.js' if debug else 'extjs/ext.js')}"></script>
    <script type="text/javascript"
            src="${static_url('pagedown/Markdown.Converter.js')}"></script>
    <script type="text/javascript"
            src="${static_url('pagedown/Markdown.Sanitizer.js')}"></script>
    <script type="text/javascript"
            src="${static_url('pagedown/Markdown.Editor.js')}"></script>
    <script type="text/javascript"
            src="${static_url('codemirror/lib/codemirror.js')}"></script>
    <script type="text/javascript">
        Ext.Loader.setPath({
            'Ext.ux.pagedown': '${static_url("pagedown")}',
            'Ext.ux.codemirror': '${static_url("codemirror")}',
            'Ext.ux.datetime': '${static_url("datetime")}'
        });
        Ext.Loader.setConfig({
            enabled: ${'true' if debug else 'false'}
        });
        window.appFolder ='${static_url("app")}';
    </script>
    <script type="text/javascript" src="${static_url('app.js' if debug else 'app-all.js')}"></script>
</head>
<body></body>
</html>

