<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <title>Dreamteller Mailing</title>
 
    <link rel="stylesheet"
          type="text/css"
          href="${static_url('extjs/resources/css/ext-all.css')}"/>
    <link rel="stylesheet"
          type="text/css"
          href="${static_url('desktop/css/desktop.css')}"/>
    <script type="text/javascript"
            src="${static_url('extjs/ext-debug.js')}"></script>
    <script type="text/javascript">
        Ext.Loader.setPath({
            'Ext.ux.desktop': '${static_url("desktop")}'
        });
        window.appFolder ='${static_url("app")}';
    </script>
    <script type="text/javascript" src="${static_url('app.js')}"></script>
</head>
<body></body>
</html>

